<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="EmpMapper"> 

<!-- selectEmp() -->
<select id="selectEmp" resultType="EmpVO">
	SELECT empno, ename, job, deptno FROM emp
</select>
<!-- VO를 하나 더 만들어?  NONO -->
<select id="selectEmpDept" resultType="hashmap">
	SELECT e.empno   empno, 
			e.ename  ename, 
			e.job    job, 
			d.deptno deptno, 
			d.loc    loc
	FROM emp e INNER JOIN dept d 
		   ON e.DEPTNO = d.DEPTNO
</select>
</mapper>